.updateIssue .heading{
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
}


.updateIssue .updateIssueform{
    width : 45%;
    border: 2px solid grey;
    margin: 25px auto ;
    padding: 15px;
    background-color: rgb(192, 190, 190);
}

.updateIssue .updateIssueform .dropdown {
    padding-left: 0px;
}

.updateIssue .updateIssueform .updateIssueButton {
    width: 100%;
}